<li id="post-<%=post.id%>" >
    
    <strong>
        <%=post.content%>
    </strong>
    <small style="font-style: italic;">
        By <%=post.user.name%>
    </small>
    &emsp;&emsp;
    <%if (locals.user && locals.user.id==post.user.id){%>
        <small>
            <a class="delete-post-button" href="/post/delete/<%=post.id%>"><button>Delete</button></a>
        </small>
    <%}%>

    <div class="d-flex align-items-center justify-content-between" style="width: 12%;">
        <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
        <p class="m-1" id="like-of-<%=post.id%>"><%=post.likes.length%></p>
        <a class="like-button" href="/like/toggle/?id=<%=post.id%>&type=post"><button>Like</button></a>
    </div>

    <ul id="post-comments-<%=post._id%>">
        <!-- Comment incertion from front end JS file to avoid reloading of page everytime -->
        <%for (comm of post.comments){%>
            <%- include('_Acomment') %>
        <%}%>
    </ul>

    <div class="comment-input-container mt-3">
        <form action="/comment/create-comment" method="post" id="post-<%=post._id%>-comments-form">
            <input type="text" name="content" placeholder="Comment here..." required>
            <input type="hidden" name="post" value=<%=post._id%> >
            <button type="submit">Add Comment</button>
        </form>
    </div>
    <hr>
</li>