<link rel="stylesheet" href="/css/profile.css">

<div id="user-details">
    <%if(singleUser.avatar){%>
        <img src="<%=singleUser.avatar%>" alt="Avatar Img" width="120px" height="120px" style="border-radius: 50%;">
    <%}%>
    
    <p>
        <strong><%=singleUser.name%></strong>
    </p>
    <p>
        <strong><%=singleUser.email%></strong>
    </p>
    <%if (singleUser.id != locals.user.id){%>
        <%if(isFriend){%>
            <a href="/friend/remove/<%=singleUser.id%>"><button type="button" class="btn btn-primary">Remove Friend</button></a>
        <%}else{%> 
            <a href="/friend/add/<%=singleUser.id%>"><button type="button" class="btn btn-primary">Add Friend</button></a>
        <%}%>
    <%}%>
</div>


<%if (singleUser.id==locals.user.id){%>
    <form action="/user/update/<%=singleUser.id%>" method="post" enctype="multipart/form-data">
        <label for="SignUpUserName">Name</label>
        <input type="text" name="name" id="SignUpUserName" value="<%=singleUser.name%>" required>

        <label for="SignUpUserEmail">Email</label>
        <input type="email" name="email" id="SignUpUserEmail" value=<%=singleUser.email%> required>

        <input type="file" name="avatar">

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
<%}%>